@import url(http://fonts.googleapis.com/css?family=Nunito|Lato);

body {
  font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: 'Nunito', sans-serif;
}

.has-icon-left input,
.has-icon-left textarea, {
  padding-left: 34px !important;
}
.has-icon-left .form-icon {
  width: 24px;
  text-align: center;
  top: 14px;
}
.btn:not(.btn-action) .material-design-icon {
  float: left;
}

.modal-container {
  padding: 0px;
  max-height: 95vh !important;
}
.modal-overlay {
  background: rgba(0,0,0,.4) !important;
}

.menu.menu-with-card-style {
  box-shadow: none;
  border: 0.05rem solid #dadee4;
  margin: 0px;
  transform: none;
}

textarea {
  resize: vertical;
}
