.chapter-card {
  transition: all .2s;
  .card-title {
    .material-design-icon {
      vertical-align: middle;
      margin-right: 4px;
    }
    span {
      position: relative;
      bottom: 2px;
    }
  }
}

.chapter-card:hover {
  transform: scale(1.02);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, .1) !important;
}
