a.card {
  text-decoration: none;
  color: #3b4351;
}

.link-card .card-image {
  overflow: hidden;
}

.link-card .card-image img {
  transition: transform .2s;
}

.link-card:hover .card-image img {
  transform: scale(1.05);
}

.chapter-card {
  transition: all .2s;
}

.chapter-card:hover {
  transform: scale(1.02);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, .1) !important;
}

.corner-label {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 64px 64px 0 0;
  border-color: $dark-color transparent transparent transparent;
  .content {
    position: relative;
    top: -60px;
    left: 6px;
    font-weight: bold;
    color: $light-color;
  }
}

.card-with-shadow {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, .01) !important;
}
