.navbar-wrapper {
  position: fixed;
  top: 0px;
  width: 100%;
  background: #fff;
  z-index: 3;
  opacity: 1.0;
  transition: opacity 1s;
  height: 72px;
  .navbar-container {
    width: 90vw;
    margin: 0px auto;
    .navbar {
      padding: 16px;
      .logo {
        width: 108px;
        height: 40px;
        min-width: 108px;
        min-height: 40px;
      }
      .navbar-section:first-child .btn-link {
        font-family: 'Nunito', sans-serif;
        font-size: 18px;
      }
      .btn-link {
        color: $dark-color;
      }
      .popover-container {
        a .material-design-icon {
          vertical-align: middle;
        }
      }
      .menu.arrow-top:after {
        content: " ";
        position: absolute;
        bottom: 100%;
        left: 32px;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #303742 transparent;
      }
    }
  }
}

.navbar-shadow {
  position: fixed;
  width: 100%;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, .1) !important;
  z-index: 2;
  opacity: 1.0;
  transition: opacity 1s;
  height: 72px;
}

.navbar-space {
  height: 72px;
}
